body {
    background-color: powderblue;
  }
.main {
    background: #2d92b9;
    width: 550px;
  }
.designheader {
    background: #381abc;
    color: white;
    width: 550px;
    height: 150px;
  }
.title {
    padding: 25px 50px 75px 100px;
    text-align: center;
    font-size: 20px;
  }
.topleft {
    font-size: 15px;
  }
.table {
    text-align: center;
    padding: 25px 50px 75px 175px;
  }